/* Dropdown control */
.selectbox-dropdown {
	min-width: 100px;
	position: relative;
	border: solid 1px #d7d7d7;
	height: 28px;
	line-height: 26px;
	text-decoration: none;
	color: #888;
	outline: none;
	vertical-align: middle;
	background: #fff;
	display: inline-block;
	cursor: default;
}

.selectbox-dropdown:focus,
.selectbox-dropdown:focus .selectbox-arrow {
	border-color: #d7d7d7;
}

.selectbox-dropdown .selectbox-label {
	padding: 2px 8px;
	color: #888;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
}

.selectbox-dropdown .selectbox-arrow {
	position: absolute;
	top: 0;
	right: 0;
	width: 23px;
	height: 100%;
	background: url(../../img/frontend/select-box-icon.png) center center no-repeat;
	border-left: solid 1px #d7d7d7;
}

/* Dropdown menu */
.selectbox-dropdown-menu {
	position: absolute;
	z-index: 99999;
	max-height: 200px;
	min-height: 1em;
	border: solid 1px #d7d7d7; /* should be the same border width as .selectbox-dropdown */
	background: #FFF;
	-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
	overflow: auto;
}

.selectbox-dropdown-menu a {
	color: #888 !important;
}

.selectbox-inline:focus {
	border-color: #666;
}

/* Options */
.selectbox-options,
.selectbox-options li,
.selectbox-options li a {
	list-style: none;
	display: block;
	cursor: default;
	padding: 0;
	margin: 0;
}

.selectbox-options li a {
	line-height: 1.5;
	padding: .2em .5em;
	white-space: nowrap;
	overflow: hidden;
	background: 6px center no-repeat;
}

.selectbox-options li.selectbox-hover a {
	background-color: #EEE;
}

.selectbox-options li.selectbox-selected a {
	background-color: #eee;
}

#style-switcher {
	position: fixed;
	left: 0px;
	top: 50%;
	margin-top: -115px;
	height: 231px;
	width: 161px;
	z-index: 9999;
}

#style-switcher-close {
	position: absolute;
	right: 0px;
	top: 26px;
	width: 24px;
	height: 53px;
	line-height: 53px;
	font-size: 14px;
	font-weight: bold;
	color: #940707;
	text-align: center;
	background: url(../../img/frontend/close.png) no-repeat;
	padding-right: 5px;
}

#style-switcher-close.open {
	color: #6c9307 !important;
}

#style-switcher-inner {
	float: left;
	width: 112px;
	height: 211px;
	padding: 10px;
	background: #fff;

	-moz-box-shadow: 0 0px 6px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0px 6px rgba(0, 0, 0, .8);
	box-shadow: 0 0px 6px rgba(0, 0, 0, .8);
}

#style-switcher .choose-skin {
	font-family: arial;
	font-size: 13px;
	color: #5a5a5a;
	display: block;
	width: 100%;
	height: 16px;
	line-height: 16px;
	text-align: center;
	margin-bottom: 10px;
}

#selectbox-color {
	width: 110px;
}

#skins {
	float: left;
	position: relative;
	margin-top: 11px;
	padding-top: 12px;
	overflow: hidden;
	border-top: 1px dotted #dadada;
}

#skins:before {
	content: '';
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	height: 0px;
	border-top: 1px dotted #a3a3a3;
}

#style-switcher li {
	float: left;
	width: 35px;
	height: 45px;
	padding: 7px;
	border: 1px solid #bababa;
	background: #bababa;
	margin: 0px 10px 10px 0px;
	cursor: pointer;
}

#style-switcher li.skin-2,
#style-switcher li.skin-4 {
	margin-right: 0px !important;
}

#style-switcher li.skin-3,
#style-switcher li.skin-4 {
	margin-bottom: 0px !important;
}

#style-switcher li.active {
	border-color: #000;
	-webkit-box-shadow: 0px 0px 7px rgba(100, 100, 100, 0.85);
	-moz-box-shadow:    0px 0px 7px rgba(100, 100, 100, 0.85);
	box-shadow:         0px 0px 7px rgba(100, 100, 100, 0.85);
}

div.skin-header {
	float: left;
	width: 35px;
	height: 9px;
	background: #fff;
	margin-bottom: 4px;
}

div.skin-content {
	float: left;
	width: 21px;
	height: 32px;
	background: #fff;
	margin-right: 4px;
}

div.skin-widget-1,
div.skin-widget-2 {
	float: left;
	width: 10px;
	height: 10px;
	background: #fff;
	border-top: 4px solid #515151;
}

div.skin-widget-2 {
	margin-top: 4px;
}

#style-switcher li.skin-2 div.skin-content,
#style-switcher li.skin-3 div.skin-content,
#style-switcher li.skin-2 div.skin-widget-1,
#style-switcher li.skin-3 div.skin-widget-1,
#style-switcher li.skin-2 div.skin-widget-2,
#style-switcher li.skin-3 div.skin-widget-2 {
	background: #313131 !important;
}

/* Red */
#style-switcher li.skin-2[data-value="red"] div.skin-header,
#style-switcher li.skin-4[data-value="red"] div.skin-header {
	background: #a00000;
}

#style-switcher li.skin-2[data-value="red"] div.skin-widget-1,
#style-switcher li.skin-2[data-value="red"] div.skin-widget-2,
#style-switcher li.skin-3[data-value="red"] div.skin-widget-1,
#style-switcher li.skin-3[data-value="red"] div.skin-widget-2,
#style-switcher li.skin-4[data-value="red"] div.skin-widget-1,
#style-switcher li.skin-4[data-value="red"] div.skin-widget-2 {
	border-color: #a00000;
}

/* Smoke tree */
#style-switcher li.skin-2[data-value="smoke-tree"] div.skin-header,
#style-switcher li.skin-4[data-value="smoke-tree"] div.skin-header {
	background: #b85634;
}

#style-switcher li.skin-2[data-value="smoke-tree"] div.skin-widget-1,
#style-switcher li.skin-2[data-value="smoke-tree"] div.skin-widget-2,
#style-switcher li.skin-3[data-value="smoke-tree"] div.skin-widget-1,
#style-switcher li.skin-3[data-value="smoke-tree"] div.skin-widget-2,
#style-switcher li.skin-4[data-value="smoke-tree"] div.skin-widget-1,
#style-switcher li.skin-4[data-value="smoke-tree"] div.skin-widget-2 {
	border-color: #b85634;
}

/* Cement */
#style-switcher li.skin-2[data-value="cement"] div.skin-header,
#style-switcher li.skin-4[data-value="cement"] div.skin-header {
	background: #837155;
}

#style-switcher li.skin-2[data-value="cement"] div.skin-widget-1,
#style-switcher li.skin-2[data-value="cement"] div.skin-widget-2,
#style-switcher li.skin-3[data-value="cement"] div.skin-widget-1,
#style-switcher li.skin-3[data-value="cement"] div.skin-widget-2,
#style-switcher li.skin-4[data-value="cement"] div.skin-widget-1,
#style-switcher li.skin-4[data-value="cement"] div.skin-widget-2 {
	border-color: #837155;
}

/* Teal */
#style-switcher li.skin-2[data-value="teal"] div.skin-header,
#style-switcher li.skin-4[data-value="teal"] div.skin-header {
	background: #0db0bf;
}

#style-switcher li.skin-2[data-value="teal"] div.skin-widget-1,
#style-switcher li.skin-2[data-value="teal"] div.skin-widget-2,
#style-switcher li.skin-3[data-value="teal"] div.skin-widget-1,
#style-switcher li.skin-3[data-value="teal"] div.skin-widget-2,
#style-switcher li.skin-4[data-value="teal"] div.skin-widget-1,
#style-switcher li.skin-4[data-value="teal"] div.skin-widget-2 {
	border-color: #0db0bf;
}

/* Blue */
#style-switcher li.skin-2[data-value="blue"] div.skin-header,
#style-switcher li.skin-4[data-value="blue"] div.skin-header {
	background: #143966;
}

#style-switcher li.skin-2[data-value="blue"] div.skin-widget-1,
#style-switcher li.skin-2[data-value="blue"] div.skin-widget-2,
#style-switcher li.skin-3[data-value="blue"] div.skin-widget-1,
#style-switcher li.skin-3[data-value="blue"] div.skin-widget-2,
#style-switcher li.skin-4[data-value="blue"] div.skin-widget-1,
#style-switcher li.skin-4[data-value="blue"] div.skin-widget-2 {
	border-color: #143966;
}

/* Orange */
#style-switcher li.skin-2[data-value="orange"] div.skin-header,
#style-switcher li.skin-4[data-value="orange"] div.skin-header {
	background: #b7531d;
}

#style-switcher li.skin-2[data-value="orange"] div.skin-widget-1,
#style-switcher li.skin-2[data-value="orange"] div.skin-widget-2,
#style-switcher li.skin-3[data-value="orange"] div.skin-widget-1,
#style-switcher li.skin-3[data-value="orange"] div.skin-widget-2,
#style-switcher li.skin-4[data-value="orange"] div.skin-widget-1,
#style-switcher li.skin-4[data-value="orange"] div.skin-widget-2 {
	border-color: #b7531d;
}

/* Crimson */
#style-switcher li.skin-2[data-value="crimson"] div.skin-header,
#style-switcher li.skin-4[data-value="crimson"] div.skin-header {
	background: #d0103f;
}

#style-switcher li.skin-2[data-value="crimson"] div.skin-widget-1,
#style-switcher li.skin-2[data-value="crimson"] div.skin-widget-2,
#style-switcher li.skin-3[data-value="crimson"] div.skin-widget-1,
#style-switcher li.skin-3[data-value="crimson"] div.skin-widget-2,
#style-switcher li.skin-4[data-value="crimson"] div.skin-widget-1,
#style-switcher li.skin-4[data-value="crimson"] div.skin-widget-2 {
	border-color: #d0103f;
}

/* Dark Purple */
#style-switcher li.skin-2[data-value="dark-purple"] div.skin-header,
#style-switcher li.skin-4[data-value="dark-purple"] div.skin-header {
	background: #7f2a7c;
}

#style-switcher li.skin-2[data-value="dark-purple"] div.skin-widget-1,
#style-switcher li.skin-2[data-value="dark-purple"] div.skin-widget-2,
#style-switcher li.skin-3[data-value="dark-purple"] div.skin-widget-1,
#style-switcher li.skin-3[data-value="dark-purple"] div.skin-widget-2,
#style-switcher li.skin-4[data-value="dark-purple"] div.skin-widget-1,
#style-switcher li.skin-4[data-value="dark-purple"] div.skin-widget-2 {
	border-color: #7f2a7c;
}

/* Pink */
#style-switcher li.skin-2[data-value="pink"] div.skin-header,
#style-switcher li.skin-4[data-value="pink"] div.skin-header {
	background: #b2377f;
}

#style-switcher li.skin-2[data-value="pink"] div.skin-widget-1,
#style-switcher li.skin-2[data-value="pink"] div.skin-widget-2,
#style-switcher li.skin-3[data-value="pink"] div.skin-widget-1,
#style-switcher li.skin-3[data-value="pink"] div.skin-widget-2,
#style-switcher li.skin-4[data-value="pink"] div.skin-widget-1,
#style-switcher li.skin-4[data-value="pink"] div.skin-widget-2 {
	border-color: #b2377f;
}

/* Yellow */
#style-switcher li.skin-2[data-value="yellow"] div.skin-header,
#style-switcher li.skin-4[data-value="yellow"] div.skin-header {
	background: #d0a202;
}

#style-switcher li.skin-2[data-value="yellow"] div.skin-widget-1,
#style-switcher li.skin-2[data-value="yellow"] div.skin-widget-2,
#style-switcher li.skin-3[data-value="yellow"] div.skin-widget-1,
#style-switcher li.skin-3[data-value="yellow"] div.skin-widget-2,
#style-switcher li.skin-4[data-value="yellow"] div.skin-widget-1,
#style-switcher li.skin-4[data-value="yellow"] div.skin-widget-2 {
	border-color: #d0a202;
}

@media screen and (max-width : 960px) {
	#style-switcher  {
		display: none;
	}
}